* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.margin_20 {
  margin-top: 20px;
}
* p {
  color: #75809A;
}

/* font size xs */
.h2-xs {
  font-size: 27px;
}

/* header nav */
header {
  padding: 0 15px;
}
.alg_middle {
  vertical-align: middle;
}

#digital_logo {
  width: 80%;
  margin: 5%;
}

#hamburger_menu {
  border: none;
  color: #3A8AFF;
  margin: 5%;
}
/* header nav */

/* jumbotron area */
#jumbotron {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-image: url(../img/jumbotron.svg);
  background-size: cover;
}

#jumbotron h1 {
  color: #FFF;
  font-size: 40px;
  padding: 40px 0 20px;
}

#jumbotron p {
  color: #B6C9FF;
  font-size: 20px;
  padding-bottom: 20px;
}
/* form area */
.wrapping {
  width: 100%;
  padding: 5%;
  margin: 20px 0;
  background-color: #FFF;
  border-radius: 5px;
  colore: black;
}

.wrapping h2 > a:hover {
  text-decoration: none;
  color: #1633FF;
}

.btn.btn-default.btn-lg.btn-block.create_account{
  background-color: #3A8AFF;
  color: white;
  font-size: 10px;
}
.btn.btn-default.btn-lg.btn-block.create_account:hover {
  background-color: #1633FF;
}

.btn.btn-default.btn-lg.btn-block.signup_google {
  background-color: transparent;
  color: #3A8AFF;
  font-size: 10px;
}

.btn.btn-default.btn-lg.btn-block.signup_google span:hover {
  color: black;
}

.signup_google span {
  text-align: center;
  margin-right: 107px;
  margin-left: 87px;
}

.signup_google {
  margin-bottom: 20px;
}

#service {
  color: black;
}
/* /form area */
/*/ jumbotron area */
/* customer logo area */
#customer_logo {
  width: 100%;
  padding: 5%;
  background-color: #F3F5F9;
}
 #customer_logo h5 {
   color: #65728E;
 }
/*/ customer logo area */
/* deploy area */

#deploy p {
  font-size: 14px;
}

#deploy li {
  padding: 10px;
  border-left: 1px solid #75809A;
}

#deploy a {
  color: #75809A;
}

#deploy li:hover a {
  font-weight: 400;
  color: black;
}




@media screen and (min-width: 768px) and (max-width: 991px) {

  /* jumbotron area */
  .wrapping {
    background-color: #FFF;
    border-radius: 5px;
  }

  .signup_google span {
    text-align: center;
    margin-right: 107px;
    margin-left: 30px;
  }
  /*/jumbotron area */
  /* customer logo area */
  .logos{
    width: 16%;
  }
  /*/customer logo area */
}

@media screen and (min-width: 1200px) {

  /* header nav */
  header {
    padding: 10px;
  }
  .alg_middle {
    vertical-align: middle;
  }

  #digital_logo {
    width: 100%;
    line-height: 50px;
    margin-top: 10%;
  }

  .nav li  {
    line-height: 50px;
    display: inline-block;
    margin: 3px 3px 0 3px;
    font-size: 15px;
    font-weight: 400;

  }

  .nav li a {
    padding: 5px;

  }

  .nav a:hover {
    color: #3A8AFF;
    background-color: white;
    text-decoration: none;
  }

  li a {
    color: black;
  }
  /*/ header nav */
  /* jumbotron area */
  #jumbotron h1 {
    font-size: 50px;
  }

  #jumbotron p {
    font-size: 20px;
  }

  .btn.btn-default.sign_up {
    background-color: transparent;
    border: 1px solid #3A8AFF;
    color: #3A8AFF;
  }

  .btn.btn-default.btn-lg.btn-block.create_account{
    font-size: 20px;
  }

  .signup_google  {
    font-size: 20px;
  }

  .btn.btn-default.sign_up:hover {
    background-color: #3A8AFF;
    color: #FFF;
  }

  .wrapping {
    background-color: #FFF;
    border-radius: 5px;
  }
  /* /jumbotron area */
  /* customer logo area */
  .logos {
    width: 16%;
    margin: 30px 0;
  }

  #customer_logo h4 {
    margin-top: 40px;
    color: #65728E;
  }

  #customer_logo a {
    color: #3A8AFF;
    font-size: 20px;
  }

  #customer_logo a:hover {
    color: #1633FF;
    text-decoration: none;
  }
  /*/customer logo area */
  /* deploy area */
  #deploy h2 {
    font-size: 35px;
  }

  #deploy h6 {
    font-size: 28px;
  }

  #deploy p {
    font-size: 20px;

  }

  #deploy ul {
    border-left: 1px solid #75809A;
  }

  #deploy li {
    display: block;
  }

  #deploy a {
    font-size: 20px;
    color: #75809A;
  }

  .wrapping_2 {
    padding: 20%;
  }

  /* .wrapping_3 {
    padding: 10%;
  } */


}
