* {
  font-family: 'Roboto', sans-serif;
}
.margin_5 {
  margin-top: 5%;
}
* p {
  color: #75809A;
}

/* font size xs */
.h2-xs {
  font-size: 27px;
}

.xs-p {
  font-size: 14px;
}

.xs-th {
  font-size: 12px;
}

/* header nav */
body  {
  margin-top: 50px;
}

header {
  padding: 5px;
  height: 50px;
  background-color: white;
}
.alg_middle {
  vertical-align: middle;
}

.digital_logo {
  margin: 0;
}

#hamburger_menu {
  border: none;
  color: #3A8AFF;
  margin: 5%;
}
/* header nav */
/* jumbotron area */
#jumbotron {
  width: 100%;
  height: 100%;
  padding: 5%;
  background-image: url(../img/jumbotron.svg);
  background-size: cover;
}

#jumbotron h1 {
  color: #FFF;
  font-size: 40px;
  padding: 40px 0 20px;
}

#jumbotron p {
  color: #B6C9FF;
  padding-bottom: 20px;
}
/* form area */
.wrapping {
  width: 100%;
  padding: 5%;
  margin: 20px 0;
  background-color: #FFF;
  border-radius: 5px;
}

.wrapping h2 > a:hover {
  text-decoration: none;
  color: #1633FF;
}

.btn.btn-default.btn-lg.btn-block.create_account{
  background-color: #3A8AFF;
  color: white;
  font-size: 10px;
}
.btn.btn-default.btn-lg.btn-block.create_account:hover {
  background-color: #1633FF;
}

.btn.btn-default.btn-lg.btn-block.signup_google {
  background-color: transparent;
  color: #3A8AFF;
  font-size: 10px;
}

.btn.btn-default.btn-lg.btn-block.signup_google span:hover {
  color: black;
}

.signup_google span {
  margin-right: 5%;
  font-size: 18px;
}


.signup_google {
  margin-bottom: 20px;
}

.google_g {
  margin-top: 5px;
}

#service {
  color: black;
}
/* /form area */
/*/ jumbotron area */
/* customer logo area */
#customer_logo {
  width: 100%;
  padding: 5% ;
  background-color: #F3F5F9;
}
 #customer_logo h5 {
   color: #65728E;
 }
/*/ customer logo area */
/* deploy area */
#deploy {
  padding: 5%;
}
#deploy li {
  padding: 10px;
  border-left: 1px solid lightgray;
}

#deploy a {
  color: #75809A;
  text-decoration: none;
}

#deploy a:hover {
  font-weight: 400;
  color: black;
  text-decoration: none;
}

#deploy li:hover {
  border-left: 2px solid #3A8AFF;
}
/* deploy area */
/* developer area */
#developer {
  background-color: #F3F5F9;
  padding: 5%;
}
#carousel {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 10px;
}

.fas.fa-chevron-left {
  margin-top: 250px;
  font-size: 50px;
  color: #6F7B97;
  cursor: pointer;
}
.fas.fa-chevron-right {
  margin-top: 250px;
  font-size: 50px;
  cursor: pointer;
}

.far.fa-circle , .fas.fa-circle {
  color: #3A8AFF;
  padding: 20px 0;
}
/* developer area */
/* features area */
#features {
  padding: 5%;
}

.wrapping_3 {
padding-top: 5%}
/* /features area */
/* table data area */
#table {
  padding: 5% 0;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(97deg, rgba(2,0,36,1) 0%, rgba(0,71,197,1) 0%, rgba(0,32,155,1) 100%);
}

table {
  width: 100%;
  text-align:center;
}

td, th {
  border-bottom: 1px solid white;
  padding: 10px;
  font-size: 15px;
}

tr th:nth-child(2) {
  color: #BBC8E9;
  margin-right: 30px;
}

th a{
  color: #36d7d2;
}

th a:hover {
  text-decoration: none;
  color: #1633FE;
}
/*/table area  */
/* rockerbox */
#rockerbox {
  padding: 5%;
  background-color: #F3F5F9;
}

#rockerbox_logo {
  width: 200px;
  height: 30px;
}

.wrapping_4 {
  width: 100%;
  margin-top: 50px;
  padding: 50px;
  background-color: white;
  border-radius: 5px;
}
/*/rockerbox */
/* new account area */
#new_account {
  padding: 5% 0;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(97deg, rgba(2,0,36,1) 0%, rgba(0,71,197,1) 0%, rgba(0,32,155,1) 100%);
}

.btn.btn-default.btn-lg.your_account {
  color: #3A8AFF;
}

.btn.btn-default.btn-lg.your_account:hover {
  opacity: 0.8;
}
/*/new account area */
/* footer area */
footer {
  padding: 5%;
  background-color: #031C4E;
}

.social {
  color: #75809A;
  width: 10%;
  margin: 20px 5px;
  font-size: 30px;
}

.social:hover {
  color: white;
  cursor: pointer;
}

footer ul {
  list-style: none;
  color: #75809A
}

footer ul li:first-child {
  color: white;
}

footer ul li:hover{
  color: white;
  cursor: pointer;
}
/*/footer area */
/* widget_shark area */
#widget_shark {
  position: fixed;
  z-index: 1000;
  bottom: 50px;
}

.shark {
  width: 15%;
  border-radius: 50px;
}

.wrapping_5_xs {
  background-color: white;
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;

}

.chat {
  position: relative;
  width: 400px;
  height: 30px;
  margin-left: 0;
}

.unread_chat {
  position: absolute;
  top: 0;
  left: 45px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px;
  background-color: red;
  border: 2px solid white;
  color: white;
  text-align: center;
}
/* /widget area */


@media screen and (min-width: 768px) {

  /*/header area */
  body {
    margin-top: 120px;
  }
  header {
    padding: 5px;
    height: 120px;
    background-color: white;
  }

  .digital_logo {
    width: 100%;
    margin: 0;
  }
  /* header area */

  /* form area */
  .google_g {
    width: 5%;
    margin-left: 0;
    margin-top: 5px;
  }
  /*/form area */
  /* fontsize */
  .lg-h2 {
    font-size: 35px;
  }

  .lg-h6 {
    font-size: 24px;
  }

  .lg-p {
    font-size: 20px;
  }

  .li-sm {
    font-size: 20px;
  }
  /*/fontsize */
  /* jumbotron area */
  .wrapping {
    background-color: #FFF;
    border-radius: 5px;
  }
  /*/jumbotron area */
  /* customer logo area */
  .logos{
    width: 16%;
  }
  /*/customer logo area */
  /* footer area */
  .social {
    color: #75809A;
    width: 5%;
    margin: 30px 5px;
    font-size: 30px;
  }
  /*/footer area */

  /* widget area */
  .wrapping_5_sm {
    background-color: white;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 28px;
  }

  /* widget area */



}

@media screen and (min-width: 1200px) {


  /* font size lg */
  .lg-h2 {
    font-size: 35px;
  }

  .lg-h6 {
    font-size: 24px;
  }

  .lg-p {
    font-size: 20px;
  }

  .li-sm {
    font-size: 20px;
  }
  /*/font size lg */
  /* header nav */
  body {
    margin-top: 70px;
  }
  header {
    padding: 5px;
    height: 70px;
    background-color: white;
  }
  }

  .alg_middle {
    vertical-align: middle;
  }

  .digital_logo {
    width: 100%;
    margin: 6%;
  }

  .menu li  {
    line-height: 50px;
    display: inline-block;
    margin: 3px 3px 0 3px;
    font-size: 15px;
    font-weight: 400;

  }

  .menu li a {
    padding: 5px;
    text-decoration: none;

  }

  .menu a:hover {
    color: #3A8AFF;
    background-color: white;
  }

  li a {
    color: black;
  }

  .google_g {
    width: 5%;
    margin-left: 0;
  }
  /*/ header nav */
  /* jumbotron area */
  #jumbotron h1 {
    font-size: 50px;
  }

  #jumbotron p {
    font-size: 20px;
  }

  .btn.btn-default.sign_up {
    background-color: transparent;
    border: 1px solid #3A8AFF;
    color: #3A8AFF;
  }

  .btn.btn-default.btn-lg.btn-block.create_account{
    font-size: 20px;
  }

  .signup_google  {
    font-size: 20px;
  }

  .btn.btn-default.sign_up:hover {
    background-color: #3A8AFF;
    color: #FFF;
  }

  .wrapping {
    background-color: #FFF;
    border-radius: 5px;
  }
  /* /jumbotron area */
  /* customer logo area */
  .logos {
    width: 16%;
    margin: 30px 0;
  }

  #customer_logo h4 {
    margin-top: 40px;
    color: #65728E;
  }

  #customer_logo a {
    color: #3A8AFF;
    font-size: 20px;
  }

  #customer_logo a:hover {
    color: #1633FF;
    text-decoration: none;
  }
  /*/customer logo area */
  /* deploy area */

  #deploy ul {
    border-left: 1px solid #75809A;
  }

  #deploy li {
    display: block;
  }

  #deploy a {
    font-size: 20px;
    color: #75809A;
  }
  /* /deploy area */
  /* rockerbox area */
  #rockerbox {
    padding: 5% 0;
  }

  .fas.fa-chevron-left {
    margin-top: 350px;
  }
  .fas.fa-chevron-right {
    margin-top: 350px;
  }
  /* /rockerbox area */
  /* footer area */
  .social {
    width: 10%;
  }
  /*/footer area */

  /* widget area */
  .wrapping_5_lg {
    background-color: white;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20%;
  }

  .lg {
    margin-left: 90%;
  }
  /*/widget area */
}
